<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.healthsignal.qna.QnaMapper">

    <!--질문 목록 가져오기-->
    <select id="selectQuestionList" parameterType="questionVO" resultType="questionVO">
        SELECT
            A.QUE_NO,
            B.USER_NICKNAME,
            B.USER_ID,
            A.QUE_TITLE,
            A.QUE_CONTENT,
            A.QUE_DEL,
            A.QUE_ANSWER,
            A.QUE_PUBLIC,
            A.QUE_CRE_DATE
        FROM
            QUESTION A
            LEFT OUTER JOIN USER B ON A.USER_NO = B.USER_NO
        WHERE
            A.QUE_DEL = 'N'
        <if test="searchType == 'title'">
            AND A.QUE_TITLE LIKE CONCAT('%', #{searchWord}, '%')
        </if>
        <if test="searchType == 'id'">
            AND B.USER_ID = #{searchWord}
        </if>
        ORDER BY
            A.QUE_CRE_DATE DESC
        LIMIT #{pageSize}
        OFFSET #{currentPage}
    </select>

    <!--질문 글 가져오기-->
    <select id="selectQuestion" parameterType="int" resultType="questionVO">
        SELECT
            A.QUE_NO,
            B.USER_NICKNAME USER_NO,
            A.QUE_TITLE,
            A.QUE_CONTENT,
            A.QUE_DEL,
            A.QUE_ANSWER,
            A.QUE_PUBLIC,
            A.QUE_CRE_DATE
        FROM
            QUESTION A
            LEFT OUTER JOIN USER B ON A.USER_NO = B.USER_NO
        WHERE
            QUE_NO = #{queNo}
    </select>
    <!--질문글 작성하기-->
    <insert id="insertQuestion" parameterType="questionVO">
        INSERT INTO QUESTION
            (USER_NO, QUE_TITLE, QUE_CONTENT, QUE_PUBLIC)
        VALUES
            (#{userNo}, #{queTitle}, #{queContent}, #{quePublic})
    </insert>
    <!--질문글 삭제하기-->
    <update id="deleteQuestion" parameterType="int">
        UPDATE
            QUESTION
        SET
            QUE_DEL = 'Y'
        WHERE
            QUE_NO = #{queNo}
    </update>
    <!--답변 글 가져오기-->
    <select id="selectAnswer" parameterType="int" resultType="answerVO">
        select
            ans_no,
            que_no,
            ans_title,
            ans_content,
            ans_del,
            ans_cre_date,
            ans_mod_date
        from
            answer
        where
            que_no=#{queNo}
    </select>
    <!--답변 글 작성하기-->
    <insert id="insertAnswer" parameterType="answerVO">
        INSERT INTO
            ANSWER
            (que_no,ans_title,ans_content)
        VALUES
            (#{queNo},#{ansTitle},#{ansContent})
    </insert>
    <!--답변완료 여부 업데이트-->
    <update id="updateQueAnswer" parameterType="answerVO">
        update
            question
        set
            que_answer = 'Y'
        where
            que_no = #{queNo}
    </update>
    <!--비밀글 유저정보 체크-->
    <select id="getUserNoByQueNo" parameterType="int" resultType="questionVO">
        SELECT
            USER_NO, QUE_PUBLIC
        FROM
            QUESTION
        WHERE
            QUE_NO = #{queNo}
    </select>

    <!--페이지네이션 -->
    <!--문의글 총 개수 출력-->
    <select id="selectQueCount" parameterType="questionVO" resultType="int">
        SELECT
            COUNT(QUE_NO)
        FROM
            QUESTION A
            LEFT OUTER JOIN USER B ON A.USER_NO = B.USER_NO
        WHERE
            QUE_DEL = 'N'
        <if test="searchType == 'title'">
            AND A.QUE_TITLE LIKE CONCAT('%', #{searchWord}, '%')
        </if>
        <if test="searchType == 'id'">
            AND B.USER_ID = #{searchWord}
        </if>
    </select>
    <!--파일 DB 목록 넣기-->

</mapper>